

*, :after, :before {
    box-sizing: border-box;
}

.distraction-title, .post-body a strong, a, abbr, 
acronym, address, applet, article, aside, audio, 
b, big, blockquote, body, canvas, caption, center, 
cite, code, dd, del, details, dfn, div, dl, dt, em, 
embed, fieldset, figcaption, figure, footer, form, 
h1, h2, h3, h4, h5, h6, header, hgroup, html, i, 
iframe, img, ins, kbd, label, legend, li, mark, 
menu, nav, object, ol, output, p, pre, q, ruby, s, 
samp, section, small, span, strike, strong, sub, 
summary, sup, table, tbody, td, tfoot, th, thead, 
time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

.nav {
    background: #fff;
    box-shadow: 0 0 32px rgba(0,0,0,.15);
    height: 48px;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
}

.nav-logo {
    left: 0;
    position: absolute;
    top: 0;
}

.no-touch .nav-logo>a, .no-touch .post-body a .nav-logo>strong, .post-body a .no-touch .nav-logo>strong {
    position: relative;
    z-index: 2;
}

.nav-logo>a, .post-body a .nav-logo>strong {
    background-color: #f42;
    background: linear-gradient(to bottom right,#c09,#f42 85%);
    display: block;
    height: 48px;
    padding: 16px 20px;
    width: 106px;
    will-change: height;
}

.post-body a strong, a {
    color: #f42;
    text-decoration: none;
}

.nav-logo-popout {
    display: none;
}

ol, ul {
    list-style: none;
}

div{
    display: block;
}

.u-clear:after {
    clear: both;
    content: "";
    display: block;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

.grid-flex {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 95%;
    margin: 20px;
}

.grid-flex .grid-item-1{
    width:21%;
    padding: 10px;
    flex-basis: 50%;
    position: relative;
}


.grid-flex .grid-item-2{
    width:21%;
    padding: 10px;
    flex-basis: 25%;
    position: relative;
}

.grid-flex .grid-item-3{
    width:21%;
    padding: 10px;
    flex-basis: 25%;
    position: relative;
}

.grid-flex .grid-item-sub{
    width:21%;
    padding: 10px;
    flex-basis: 25%;
}


@media (Max-width: 767px) {

    .grid-flex{
        flex-direction: column;
    }

    .grid-flex .grid-item-1{
        width:auto;
        padding: 10px;
    }
    
    
    .grid-flex .grid-item-2{
        width:auto;
        padding: 10px;
    }
    
    .grid-flex .grid-item-3{
        width:auto;
        padding: 10px;
    }

    .grid-flex .grid-item-sub{
        width:100%;
    }
}


@media (min-width: 768px) {

    .nav-logo > a, .post-body a .nav-logo>strong {
        height: 80px;
    }
    .nav {
        height: 80px;
        padding-left: 106px;
        position: absolute;
    }

    .nav-tnw {
        background: #131313;
        display: block;
        font-size: 13px;
        font-weight: 500;
        line-height: 32px;
        max-height: 32px;
        position: relative;
        z-index: 2;
    }

    .nav-tnw:after {
        clear: both;
        content: "";
        display: block;
    }

    .nav-follow-less, .nav-icons .nav-mob-toggle, .nav-mob {
        display: none;
    }

}


@media (min-width: 1024px) { 

    body.is-frontpage .nav {
        padding-left: 0;
    }


}

